* {
	margin:0;
	padding:0;
}

#acc {
	list-style:none;
	margin:0 auto 40px
}
#acc h3 {
	padding:6px 0px 6px 0px;
	font-weight:bold;
	cursor:pointer;
	background:url(images/header.gif)
}
#acc h3:hover {
	background:url(images/header_over.gif)
}

#acc .acc-section {
	overflow:hidden;
	background:#fff
}
#acc .acc-content {
	border-top:none;
	background:#fff
}